.item {
  display: flex;
  align-items: center;
  margin-top: 10px;

  background-color: #ededc2a6;
  border: 1px solid #80808030;
  border-radius: 3px;
  box-shadow: 5px 5px 15px 3px #0000001f;
}

.status {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  margin-left: 10px;
  border-radius: 50%;
}

.isOnline {
  background-color: green;
}

.isOffline {
  background-color: red;
}

.avatar {
  margin-right: 20px;
}

.name {
  font-size: 20px;
  font-weight: 700;
}
